* {
    margin: 0;
    border: 0;
    padding: 0;
}

h1 { margin-left: 1em; }

#Options, #Bookmark { padding: 0 1em 0.5em; }

#Options { min-width: 12em; }

#Options li {
    float: left;
    margin-right: 1em;
}

fieldset {
    float: left;
    margin-left: 1em;
    border-width: thin;
    border-style: outset;
}

li { list-style-type: none; }

select { background-color: #d3d3d3; }

label { display: inline-block; }

input {
    border-width: thin;
    border-style: inset;
    padding-right: 0.25em;
    text-align: right;
}

hr { clear: both; }

#Attributes, #Elements {
    min-width: 10em;
    padding: 0.5em 1em;
}

#Attributes label, #Elements label { width: 6em; }
