* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #ffffff;
    background-color: #000000;
    padding: 1em;
}

a:link, a:visited, a:hover, a:active { color: #0679e4; }

table.stuffs {
    float: left;
    margin: 1.5em;
    width: 18em;
    border-collapse: collapse;
}

table.stuffs a { text-decoration: none; }

table.stuffs tr:nth-child(odd) { background-color: #191919; }
table.stuffs tr:nth-child(even) { background-color: #0d0d0d; }
table.stuffs tr:first-child { background-color: #000000; }

table.stuffs th { text-align: left; }

/* table.stuffs td { min-height: 22px; } */
table.stuffs td { height: 22px; }

table.stuffs .numeric {
    text-align: right;
    width: 2em;
}
